<div class="card-container">
    <mat-card class="card">

        <div class="top-row">
            <span class="text">{{userEmail}}</span>

            <div class="row action-buttons" [ngSwitch]="type">
        
                <button mat-icon-button aria-label="Remove" (click)="onRemove()" *ngSwitchCase="'favorites'">
                    <mat-icon class="btn-red">clear</mat-icon>
                </button>
    
                <button mat-icon-button aria-label="Delete" (click)="onRemove()"*ngSwitchCase="'user-ads'">
                    <mat-icon class="btn-red">delete_forever</mat-icon>
                </button>
    
                <span *ngSwitchDefault></span>
            </div>
        </div>

        <img mat-card-image [src]="advert.photosUrls[0]" alt="Photo">

        <mat-card-content>

            <span class="text strong-text">{{advert.title}} {{advert.subtitle}}</span>

            <span class="text">{{advert.mainDetails[0][1]}}</span>

            <span class="text">{{advert.price}}</span>
            
        </mat-card-content>
    
      </mat-card>
</div>